pandas
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn
imblearn
xgboost
catboost
pymongo=4.14.1
from_root
evidently==0.2.8
dill
pyyaml
neuro_mf
boto3
mypy-boto3-s3
botocore
fastapi
unicorn
jinja2
python-multipart
-e .